body {
  background: #f0f7f7;
  font-family: Poppins, sans-serif;
}

.container {
  background: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}
